Node-Red/002_App_Notification_KNMI_Weeralert_NodeRed.yaml
[{"id":"f02f75d0.a28358","type":"tab","label":"Weer","disabled":false,"info":""},{"id":"a26a1d92.358f6","type":"api-call-service","z":"f02f75d0.a28358","name":"Notifi IOS app Maarten","server":"e447d17a.16a64","version":3,"debugenabled":true,"service_domain":"notify","service":"mobile_app_iphonie","entityId":"","data":"{\"message\":payload,\"title\":\"KNMI Weermelding Provincie Limburg\"}\t","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":700,"y":700,"wires":[[]]},{"id":"a4c19a27.f198f8","type":"api-current-state","z":"f02f75d0.a28358","name":"","server":"be9bd109.ba69d","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.knmi_weer_waarschuwing","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":300,"y":400,"wires":[["15c3e231.acbb5e"]]},{"id":"7b1a9c46.dfa024","type":"api-current-state","z":"f02f75d0.a28358","name":"","server":"be9bd109.ba69d","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.knmi_weercode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":310,"y":320,"wires":[["ea10b4a7.62a1b8"]]},{"id":"ea10b4a7.62a1b8","type":"change","z":"f02f75d0.a28358","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Code: \" & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":320,"wires":[["23ce5abf.81f4a6"]]},{"id":"23ce5abf.81f4a6","type":"join","z":"f02f75d0.a28358","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"30","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":910,"y":320,"wires":[["3e46b84b.7b14f8","a26a1d92.358f6"]]},{"id":"f73d7451.3d5cd8","type":"change","z":"f02f75d0.a28358","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Bericht: \" & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":400,"wires":[["23ce5abf.81f4a6"]]},{"id":"3e46b84b.7b14f8","type":"debug","z":"f02f75d0.a28358","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":600,"wires":[]},{"id":"15c3e231.acbb5e","type":"delay","z":"f02f75d0.a28358","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":400,"wires":[["f73d7451.3d5cd8"]]},{"id":"dd18e41.cea5618","type":"server-state-changed","z":"f02f75d0.a28358","name":"","server":"be9bd109.ba69d","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.knmi_weer_waarschuwing","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is_not","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":20,"wires":[["7b1a9c46.dfa024","a4c19a27.f198f8"]]},{"id":"e447d17a.16a64","type":"server","name":"Home Assistant","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"be9bd109.ba69d","type":"server","name":"Home Assistant (Schmeitz)","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]